@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.loading {
    background-color: $base;
    color: $loading;
    height: 100%;
    left: 0;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    @include proximaNova(11px);
}