$brand: #FFE600;
$base: #EEEEEE;

$primary: #333333;
$primary-light-20: lighten($primary, 20);
$primary-light-40: lighten($primary, 40);

$button: #3483FA;
$button-font: #FFF;
$background-container: #fff;

$loading: #363636;