@import './sizes.scss';

@mixin proximaNova($fontsize: null, $font-weight: 100) {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: #{$font-weight};
    font-size: #{$fontsize};
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin centerContent() {
    max-width: $content-width;
    margin: auto;
}