/* Layout
****************/
$content-width: 76%;
$mobile-content-with: 100%;
$margin-unit: 16px;
$double-margin-unit: $margin-unit * 2;

/* Breakpoints
****************/
$mobile-breakpoint: 768px;
$ipad-breakpoint: 1024px;